table {
   width: 80%;
   min-width: 650px;
   max-width: 800px;
   margin: 0 auto;
   border-collapse: collapse;
   font-family: Arial, Helvetica, sans-serif;
}

th,
td {
   text-align: center;
   padding: 1em 0;
}

th {
   text-align: center;
   background-color: #5faab1;
}

tr:nth-child(odd) {
   background-color: #bfe0e2;
}

tr:nth-child(even) {
   background-color: #ddeff0;
}