body{
   background-color: #f2f9f9;
}

h1{
   color: #3b757f;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
}

h2{
   color: #92cace;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
   font-family: Georgia, 'Times New Roman', Times, serif;
}